@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  box-sizing: border-box;
  text-align: center;
  font-family: "Press Start 2p", cursive;
  margin: 0;
}
main {
  margin: 10vh auto;
  width: 70vw;
  display: flex;
  flex-direction: column;
}
.history {
  background-color: gainsboro;
  flex: 1 1 200px;
  font-size: 1em;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  overflow-y: scroll;
}
.input-display {
  background-color: rgb(235, 235, 235);
  flex: 1 1 100px;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.3em;
}
.buttons {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 3px;
}
.button-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}
.operator-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}
.button,
.equals {
  padding: 0.5em;
  background-color: rgb(163, 180, 180);
}
.operator, #negative-positive, #clear {
  background-color: rgb(207, 219, 219);
  display: flex;
  align-items: center;
  justify-content: center;
}
#equate {
  background-color: rgb(212, 55, 55);
}
#clear {
  color: rgb(212, 55, 55);
}
.button:hover,
.operator:hover,
.equals:hover
#clear:hover,
#negative-positive {
  cursor: pointer;
}
@media screen and (max-width: 615px) {
  .input-display {
    font-size : 1.5em;
  }
}